<div
  *ngIf="
    !loading && current_recipe_name.trim() && !currentRecipeSection.recipe_id
  "
>
  <p>No matches...</p>
</div>

<div *ngIf="!loading && currentRecipeSection.recipe_id">
  <h4>Recipe Details</h4>
  <div>
    <label><strong>Recipe Name:</strong></label>
    {{ currentRecipeSection.recipe_name }}
  </div>
  <div>
    <label><strong>Content:</strong></label>
    {{ currentRecipeSection.content }}
  </div>
  <div>
    <label><strong>Rating:</strong></label>
    {{ currentRecipeSection.rating }}
  </div>
  <div>
    <label><strong>Comment:</strong></label>
    {{ currentRecipeSection.comment }}
  </div>
  <div>
    <label><strong>Cooking Time:</strong></label>
    {{ currentRecipeSection.cooking_time }} minutes
  </div>
  <div *ngIf="currentRecipeSection.pictures">
    <label><strong>Recipe Image:</strong></label>
    <img
      [src]="currentRecipeSection.pictures"
      alt="Recipe Image"
      style="max-width: 100%; height: auto"
    />
  </div>
</div>
