<!-- <div *ngIf="!current_recipe_name.trim() && !currentRecipeSection.recipe_id">
  <p></p>
</div> -->

<!-- Message for when a search term is entered, but no matching recipe is found -->
<div *ngIf="current_recipe_name.trim() && !currentRecipeSection.recipe_id">
  <p>no matches...</p>
</div>

<div *ngIf="currentRecipeSection.recipe_id">
  <h4>Recipe Details</h4>
  <div>
    <label><strong>Recipe Name:</strong></label>
    {{ currentRecipeSection.recipe_name }}
  </div>
  <div>
    <label><strong>Content:</strong></label>
    {{ currentRecipeSection.content }}
  </div>
  <div>
    <label><strong>Rating:</strong></label>
    {{ currentRecipeSection.rating }}
  </div>
  <div>
    <label><strong>Comment:</strong></label>
    {{ currentRecipeSection.comment }}
  </div>
  <div>
    <label><strong>Cooking Time:</strong></label>
    {{ currentRecipeSection.cooking_time }} minutes
  </div>
</div>
