<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="recipe_name">Recipe Name</label>
        <input
          type="text"
          class="form-control"
          id="recipe_name"
          required
          [(ngModel)]="recipeSection.recipe_name"
          name="recipe_name"
        />
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <textarea
          class="form-control"
          id="content"
          required
          [(ngModel)]="recipeSection.content"
          name="content"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="cuisine_id">Cuisine</label>
        <select
          class="form-control"
          id="cuisine_id"
          required
          [(ngModel)]="recipeSection.cuisine_id"
          name="cuisine_id"
        >
          <option *ngFor="let cuisine of cuisines" [value]="cuisine.id">
            {{ cuisine.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="ingredient_id">Ingredient List</label>
        <textarea
          class="form-control"
          id="ingredient_id"
          required
          [(ngModel)]="recipeSection.ingredient_id"
          name="ingredient_id"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="cooking_time">Cooking Time (minutes)</label>
        <input
          type="number"
          class="form-control"
          id="cooking_time"
          required
          [(ngModel)]="recipeSection.cooking_time"
          name="cooking_time"
        />
      </div>

      <div class="form-group">
        <label for="pictures">Pictures</label>
        <input
          type="text"
          class="form-control"
          id="pictures"
          required
          [(ngModel)]="recipeSection.pictures"
          name="pictures"
        />
      </div>

      <button (click)="saveRecipeSection()" class="btn btn-success">
        Submit
      </button>
    </div>
    <div *ngIf="submitted">
      <h4>Recipe was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newRecipeSection()">
        Add Another
      </button>
    </div>
  </div>
</div>
