<div *ngIf="isLoading; else userContent">
  <p>Loading user information...</p>
</div>

<ng-template #userContent>
  <div *ngIf="userInfo; else noData">
    <h1>User Profile</h1>
    <div>
      <p><strong>User ID:</strong> {{ userInfo.user_id }}</p>
    </div>
    <div>
      <p><strong>Email:</strong> {{ userInfo.email }}</p>
    </div>

    <div *ngIf="userInfo.profile_pic">
      <img
        [src]="userInfo.profile_pic"
        alt="profile picture"
        style="max-width: 100%; height: auto"
      />
    </div>
    <div>
      <p><strong>Ranking:</strong> {{ userInfo.ranking }}</p>
    </div>
  </div>

  <ng-template #noData>
    <p>No user information available.</p>
  </ng-template>
</ng-template>
