<div class="nav_bar">
  <div class="logo">
    <img src="./assets/logo.svg" alt="logo" />
  </div>
  <div class="nav_icons_container">
    <div class="nav_icons">
      <img src="./assets/icon_saved.svg" alt="saved icon" />
    </div>
    <div class="nav_icons">
      <img src="./assets/icon_liked.svg" alt="liked icon" />
    </div>
    <div class="nav_icons">
      <img src="./assets/icon_profile.svg" alt="profile icon" />
    </div>
  </div>
</div>
<!-- <div class="search_recipe_container">
  <div class="search_bar">
    <input type="text" placeholder="search recipes" />
  </div>
</div>
<div class="add_recipe_container">
  <div class="add_button">
    <a routerLink="add" class="nav-link">add recipe</a>
  </div>
</div> -->

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
