<div class="nav_bar">
  <div class="logo">
    <a routerLink="recipe-section" class="nav-link"
      ><img src="./assets/logo.svg" alt="logo"
    /></a>
  </div>

  <div class="nav_icons_container">
    <div class="nav_icons">
      <a routerLink="add" class="nav-link"
        ><img src="./assets/icon_add.svg" alt="add icon"
      /></a>
    </div>
    <div class="nav_icons">
      <a routerLink="saved" class="nav-link"
        ><img src="./assets/icon_saved.svg" alt="saved icon"
      /></a>
    </div>
    <div class="nav_icons">
      <a routerLink="liked" class="nav-link"
        ><img src="./assets/icon_liked.svg" alt="liked icon"
      /></a>
    </div>
    <div class="nav_icons">
      <a routerLink="profile" class="nav-link"
        ><img src="./assets/icon_profile.svg" alt="profile icon"
      /></a>
    </div>
  </div>
</div>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
