<div *ngIf="user; else loginForm">
  <h1>Welcome, {{ user.name }}!</h1>
  <p>Username: {{ user.username }}</p>
  <button (click)="logout()">Logout</button>
</div>

<ng-template #loginForm>
  <h2>Login to your account</h2>
  <br />
  <form (submit)="login()">
    <div>
      <input
        type="username"
        [(ngModel)]="username"
        name="username"
        placeholder="username"
      />
    </div>
    <br />
    <div>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="password"
      />
    </div>
    <br />
    <button type="submit">Login</button>
  </form>
  <div>
    <br />
    <br />
    <p>
      Don't have an account? <button (click)="goToSignup()">Sign Up</button>
    </p>
  </div>
  <div *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
  </div>
</ng-template>
